mixin header-mobile__bottom()
	.header-mobile__bottom
		a.header-mobile__phone(href="tel:+74959562992") 8 (495) 956-29-92
		a.header-mobile__region(href="#") Сеть региональных офисов
		a.header-mobile__language(href="#") In English
mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		.header-mobile__top
			button.header-mobile__btn.header-mobile__hidden#btn-open-menu
			img.header-mobile__logo(src="img/logo-header@2x.png"  alt="Логотип компании" width="200" height="32")
			a.header-mobile__call(href="tel:+74959999999")
		.header-mobile__navigation
			.header-mobile__nav-main
				ul.header-mobile__list
					li.header-mobile__item
						a.header-mobile__link(href="#") О компании
						button.header-mobile__next.header-mobile__hidden#btn-next-company
					li.header-mobile__item
						a.header-mobile__link(href="#") Команда
						button.header-mobile__next.header-mobile__hidden#btn-next-team
					li.header-mobile__item
						a.header-mobile__link(href="#") Инфоцентр
						button.header-mobile__next.header-mobile__hidden#btn-next-infocentre
					li.header-mobile__item
						a.header-mobile__link(href="#") Правовое сопровождение и защита бизнеса
					li.header-mobile__item
						a.header-mobile__link(href="#") Представление интересов физицеских лиц
					li.header-mobile__item
						a.header-mobile__link(href="#") Мероприятия
					li.header-mobile__item
						a.header-mobile__link(href="#") Контакты
						button.header-mobile__next.header-mobile__hidden#btn-next-contacts
					li.header-mobile__item
						a.header-mobile__link(href="#") Личный кабинет		
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-company.header-mobile__hidden
				button.header-mobile__back#btn-back-company О компании
				ul.header-mobile__list
					li.header-mobile__item
						a.header-mobile__link(href="#") О нас
						button.header-mobile__next#btn-next-about
					li.header-mobile__item
						a.header-mobile__link(href="#") Филиалы
						button.header-mobile__next#btn-next-branches
					li.header-mobile__item
						a.header-mobile__link(href="#") Проекты
					li.header-mobile__item
						a.header-mobile__link(href="#") Клиенты
					li.header-mobile__item
						a.header-mobile__link Галерея
						button.header-mobile__next#btn-next-gallery
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-about.header-mobile__hidden
				button.header-mobile__back#btn-back-about О нас
				ul.header-mobile__list
					li.header-mobile__item
						a.header-mobile__link(href="#") История компании
					li.header-mobile__item
						a.header-mobile__link(href="#") Признание и награды
					li.header-mobile__item
						a.header-mobile__link(href="#") Философия бизнеса
					li.header-mobile__item
						a.header-mobile__link(href="#") Социальная отвественность
					li.header-mobile__item
						a.header-mobile__link(href="#") Преимущества
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-branches.header-mobile__hidden
				button.header-mobile__back#btn-back-branches Филиалы
				ul.header-mobile__list
					li.header-mobile__item
						a.header-mobile__link(href="#") Москва
					li.header-mobile__item
						a.header-mobile__link(href="#") Нижний Новгород
					li.header-mobile__item
						a.header-mobile__link(href="#") Киров
					li.header-mobile__item
						a.header-mobile__link(href="#") Тверь
					li.header-mobile__item
						a.header-mobile__link(href="#") Самара
					li.header-mobile__item
						a.header-mobile__link(href="#") Махачкала
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-contacts.header-mobile__hidden
				button.header-mobile__back#btn-back-contacts Контакты
				ul.header-mobile__list
					li.header-mobile__item
						a.header-mobile__link(href="#") Москва
					li.header-mobile__item
						a.header-mobile__link(href="#") Нижний Новгород
					li.header-mobile__item
						a.header-mobile__link(href="#") Киров
					li.header-mobile__item
						a.header-mobile__link(href="#") Тверь
					li.header-mobile__item
						a.header-mobile__link(href="#") Самара
					li.header-mobile__item
						a.header-mobile__link(href="#") Махачкала
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-gallery.header-mobile__hidden
				button.header-mobile__back#btn-back-gallery Галерея
				ul.header-mobile__list
					li.header-mobile__item
						a.header-mobile__link(href="#") Фотогалерея
					li.header-mobile__item
						a.header-mobile__link(href="#") Видеогалерея
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-team.header-mobile__hidden
				button.header-mobile__back#btn-back-team Команда
				+header-mobile__bottom()
			.header-mobile__nav-items.header-mobile__nav-infocentre.header-mobile__hidden
				button.header-mobile__back#btn-back-infocentre Инфоцентр
				+header-mobile__bottom()