.header-mobile {
  background-color: $color-green;
  
  &__scroll {
    position: fixed;
    z-index: 2;
    
    width: 100%;
    height: 100vh;

    overflow-y: auto;
  }

  &__top {
    position: relative;

    height: $mobile-header-height;

    background-color: $color-green;
  }

  &__top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
  }

  // Рисуем кнопку гамбургера
  &__btn {
    position: absolute;
    top: 50%;
    left: 20px;

    width: 25px;
    height: 20px;

    background-color: transparent;
    border: none;
    border-top: 4px solid #809D9D;
    border-bottom: 4px solid #809D9D;

    transform: translateY(-50%);

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      
      width: 25px;
      height: 4px;

      background-color: #809D9D;
      
      transform: translateY(-50%);
    }
  }

  // Рисуем кнопку крестик
  &__btn-close {
    border: none;

    &::before {
      width: 25px;
      height: 2px;
      
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      
      width: 25px;
      height: 2px;

      background-color: #809D9D;
      
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    padding: 12px 0;
  }

  &__call {
    position: absolute;
    top: 50%;
    right: 20px;

    display: block;
    width: 20px;
    height: 20px;
    
    background-color: transparent;
    background-image: url('../img/icon-phone.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    border: none;

    transform: translateY(-50%);
  }

  &__navigation {
    position: relative;

    width: 100%;

    background-color: $color-green;

    overflow-x: hidden;
  }

  // Добавляем эти свойства, если только JS включен
  //Необходимы для правильной работы меню с включенным JS
  &__navigation-js {
    height: calc(100vh - 55px);
    margin-top: $mobile-header-height;
  }

  &__nav-items {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;

    background-color: $color-green;

    transform: translateX(100%);
    transition: transform 250ms;
  }

  &__back {
    display: block;
    width: 100%;
    padding: 15px;
    padding-left: 60px;

    color: $color-golddark;
    font-size: 15px;
    text-align: left;

    background-color: transparent;
    background-image: url('../img/icon-arrow-back.png');
    background-repeat: no-repeat;
    background-position: 20px 50%;
    border: none;
    border-top: 2px solid $color-greendark;

    opacity: .8;
  }

  &__item {
    display: flex;

    border-top: 2px solid $color-greendark;
  }

  &__link {
    position: relative;

    display: block;
    flex-grow: 1;
    padding: 10px 15px;

    font-size: 20px;
  }

  &__next {
    display: block;

    width: 60px;

    background-color: transparent;
    border: none;
    border-left: 2px solid $color-greendark;
    background-image: url('../img/icon-arrow-next.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  &__bottom {
    padding: 15px 0;

    border-top: 2px solid $color-greendark;
  }

  &__phone {
    display: block;
    padding-left: 45px;
    padding-right: 15px;

    //Не нашел нужного шрифта в папке, оставил стандартный
    font-size: 22px;
    color: $color-white;

    background-image: url('../img/icon-phone.png');
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 15px 15px;
  }

  &__region {
    display: block;
    margin-bottom: 15px;
    padding: 10px 45px;
    padding-right: 15px;

    font-size: 16px;

    background-image: url('../img/icon-marker.png');
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 10px 15px;
  }

  &__language {
    display: block;
    padding: 15px 10px;

    color: #809D9D;

    background-color: $color-greendark;
  }

  // Скрывает элемент
  &__hidden {
    display: none;
  }

  // Для анимации меню
  &__show {
    transform: translateX(0);
  }
}