mixin footer()
	footer.footer.is-hide-mobile
		.footer__bottom
			.content-center
				.footer__info
					.footer__block
						h5.footer__caption Контакты
						.footer__phone
							a.phone__link(href="tel:8 (495) 999-99-99") 8 (495) 999-99-99
						.footer__call
							a.call__link(href="#") Заказать обратный звонок
					.footer__block
						h5.footer__caption Адрес
						.footer__address
							| Москва, 105062, Большой
							br
							| Огромный переулок, 22
						.footer__offices
							a.offices__link(href="#") Сеть региональных офисов
					.footer__block
						.footer__map-site
							a.map-site__link(href="#") Карта сайта
					.footer__block
						h5.footer__caption Мы в соцсетях
						.footer__social
							ul.footer__social-list
								li.footer__social-item
									a.footer__social-link.fb(href="#")
								li.footer__social-item
									a.footer__social-link.twitter(href="#")
								li.footer__social-item
									a.footer__social-link.in(href="#")
						.footer__arrow-up
							span.footer__arrow-up-text Наверх
								span.icon-arrow1
				.footer__copyright.clearfix
					.copyright__matic © "copyright", 2017. Копирование материала разрешено только со ссылкой на этот сайт
					.copyright__webprofy
						| Сделано в
						a.footer__link-webprofy(href="#")
							img(src="img/logo-webprofy.png")
	footer.footer-mobile.is-hide-desktop
		.copyright__matic © "copyright", 2017. Копирование материала разрешено только со ссылкой на этот сайт
		h5.footer__caption Контакты
		a.phone__link(href="tel:+7 (495) 999-99-99") +7 (495) 999-99-99
		.copyright__webprofy
			a.footer__link-webprofy(href="#") STUDIO
